

/* --- Bagian Konten Redeem --- */
.redeem-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.redeem-box {
    background-color: #2a2a3e; 
    padding: 2.5rem;
    border-radius: 12px;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #40405a; 
    box-shadow: none; 
    color: #E0E0E0;
}

.redeem-icon {
    font-size: 3rem;
    color: #ADB5BD;
}

.redeem-box .form-control {
    background-color: #40405a; 
    border: 1px solid #5a5a7a; 
    color: #FFFFFF;
    border-radius: 8px;
    padding: 0.9rem 1rem;
    text-align: center; 
    font-weight: 500;
}

.redeem-box .form-control::placeholder {
    color: #ADB5BD; 
    font-weight: 500;
}

.privacy-text {
    color: #ADB5BD;
    font-size: 0.8rem;
}
.privacy-text a {
    color: #FFFFFF; 
    text-decoration: none;
    font-weight: 600;
}
.privacy-text a:hover {
    text-decoration: underline;
}


.voucher-btn-redeem {
    background-color: #FFFFFF; 
    border: none;
    border-radius: 8px;
    padding: 0.9rem 1rem;
    font-weight: 700;
    font-size: 1rem;
    color: #2a2a3e; 
}
.voucher-btn-redeem:hover {
    background-color: #E9ECEF;
    color: #2a2a3e;
}



